._navbar {
    padding: 0 25px;
    height: 3.5rem;
    width: auto;
    background: rgb(221, 221, 221);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    justify-content: space-between;
}

._nav-btn {
    text-decoration: none;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    padding: 0.5% 0;
    width: 10%;
}

._nav-btn:hover {
    text-decoration: none;
    border: none;
    background-color: rgb(156, 156, 156);
}

._nav-name {
    margin: 0;
    font: 1.25em sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}